/*Header*/
*{
    padding: 0%;
    margin: 0%;
}
.navegacion-header .resaltar{
    color: #90e0ef;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
nav ul{
    background-color: #016274;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 82px;
}
.img-header{
    margin-left: 25px;
}
.navegacion-header a{
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 19px;
}
.navegacion-header a:hover{
    color: #90e0ef;
}

/*Main*/
.parrafo {
    margin: 2rem;
}
.link{
    color: #90e0ef;
    font-size: 1.5rem;
}
.banner img{
    width: 100%;
}
.cards{
    height: 13rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
}
.card{
    width: 10rem;
    height: 10rem;
    background-color: rgb(254, 254, 254);
}
.card__imagen{
    width: 100%;
}
.card__titulo{
    font-size: 1.2rem;
    margin: 1rem;
}
.contenedor_2{
    display: flex;
    flex-direction: row;
    margin: 5rem;
}
.cont_1{
    width:40%;
    margin-right: 5rem;
}
.cont_2{
    width:47%;
}
.titulo_cont{
    margin-top: 1.5rem;
    text-align: center;
}
.text{
    font-size: 1.5rem;
    text-align: center;
}
.img__banner2{
    width: 100%;
    background-color: gray;
    border-radius: 50%;
}
.cards2{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.card2{
    width: 21rem;
    height: 24.7rem;
    background-color: rgb(254, 254, 254);
    border: 1px solid #D2D2D2;
    border-radius: 0.7rem;
}
.card__boton{
    background-color:#BB2D3B;
    color:white;
    width: 8rem;
    padding: 0.68rem;
    border:none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
.card_titulo_{
    border-bottom:1px solid #D2D2D2;
    padding: 1rem;
}
.sub_red{
   text-decoration: underline;
    color: red;
}
.sub{
    margin-left: 0.2rem;
    border-bottom:1px solid #D2D2D2;
    padding: 0.3rem;
    font-weight: normal;
    font-size: 1rem;
}
.sub_border{
    border-bottom: none;
}

@media (max-width:965px) {
    .cards{
        display: flex;
        flex-direction: row;
        height: 48rem;
        justify-content: center;
    }
    .card{
        width:18rem;
        height: 13rem;
    }
    .cards2{
        height: 80rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .card2{
        width: 30rem;
    }
    .contenedor_2{
        display: flex;
        flex-direction: column;
        margin: 2rem;
        align-items: center;
    }
    .text{
        text-align:justify;
    }
}
@media (max-width:710px) {

}

/* footer de la pagina */
.copyright{
    height: 50px;
    background-color: #016274;
    color: white;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #016274;
}
footer hr{
    border: 1px solid white;
    width: 80%;
}
.redes-sociales{
    display: flex;
    flex-direction: row;
}
.redes-sociales img{
    padding: 6px;
}
.redes-sociales img:hover{
    transition-duration: 0.29s;
    padding: 10px;
}
footer h3, footer img{
    margin: 5px;
    color: white;
}
footer h3:hover{
    color: #90e0ef;
    transition-duration: 0.55s;
}
footer .contactos-sociales{
    display: flex;
    color: white;
}
footer .contactos p{
    margin: 10px 5px
}
@media (max-width: 702px ) {
    nav ul{
        display: block;
        height: 250px;
    }
    .img-header{
        text-align: center;
    }
    .navegacion-header{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 23px;
    }
    .img_banner{
        width: 100%;
    }
    .cards{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .card{
        width:10rem;
        height: 10rem;
    }
    .cards2{
        height: 80rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .card2{
        width: 30rem;
    }
}
@media (max-width:400px) {
    .contenedor_2{
        display: flex;
        flex-direction: column;
    }
    .cont_1{
        width:80%;
    }
    .cont_2{
        width:80%;
    }
    .titulo_cont{
        margin-top: 1.5rem;
        text-align: center;
    }
    .text{
        font-size: 1rem;
        text-align: center;
    }
    footer .contactos-sociales{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes-sociales img{
        width: 50px;
    }
}