/*Header*/
*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.navegacion-header .resaltar{
    color: #90e0ef;
}
nav ul{
    background-color: #016274;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 82px;
}
.img-header{
    margin-left: 25px;
}
.navegacion-header a{
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 19px;
}
.navegacion-header a:hover{
    color: #90e0ef;
}
@media (max-width: 702px ) {
    nav ul{
        display: block;
        height: 300px;
    }
    .img-header{
        text-align: center;
    }
    .navegacion-header{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 23px;
    }
}
/* footer de la pagina */
.copyright{
    height: 50px;
    background-color: #016274;
    color: white;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #016274;
}
footer hr{
    border: 1px solid white;
    width: 80%;
}
.redes-sociales{
    display: flex;
    flex-direction: row;
}
.redes-sociales img{
    padding: 6px;
}
.redes-sociales img:hover{
    transition-duration: 0.29s;
    padding: 10px;
}
footer h3, img{
    margin: 5px;
    color: white;
}
footer h3:hover{
    color: #90e0ef;
    transition-duration: 0.55s;
}
footer .contactos-sociales{
    display: flex;
    gap: 30px;
    color: white;
}
@media (max-width:400px) {
    footer .contactos-sociales{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes-sociales img{
        width: 50px;
    }
}